<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recover-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar">
  <form #registerForm="ngForm" (ngSubmit)="recoverPass()" class="recoverPass">
  <ion-item [class.invalid]="(!email || !isEmailValid()) && formSubmitted">
      <ion-input type="email" [(ngModel)]="email" (ionInput)="validateEmail()" placeholder="Correo electrónico" name="email" required></ion-input>
    </ion-item>

  <ion-button expand="block" type="submit" class="boton-cambiar" [class.disabled]="formInvalid">
    Recuperar contraseña
  </ion-button>

  <ion-button expand="block" class="boton-registro" (click)="goToLogin()">
      Cancelar
    </ion-button>
</form>
</div>
</ion-content>
