<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> <!-- Esto redirige a la página home si no hay historial -->
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item [button]="true" (click)="goToCambiarPass()">
    <ion-label>
      Cambiar contraseña</ion-label>
  </ion-item>
  <ion-item [button]="true" (click)="goToCambiarAvatar()">
    <ion-label>
      Cambiar avatar</ion-label>
  </ion-item>
  <ion-item *ngIf="comprobarRol()" [button]="true" (click)="goToCambiarInfoEmpresa()">
    <ion-label>Cambiar información de la empresa</ion-label>
  </ion-item>
  <ion-item *ngIf="comprobarRol()" [button]="true" (click)="goToVerUsuarios()">
    <ion-label>Ver usuarios</ion-label>
  </ion-item>
</ion-content>
