<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GesPe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="centrar">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <form (ngSubmit)="login()" class="login">
    <ion-item>
      <ion-input type="text" [(ngModel)]="username" placeholder="Usuario" name="username" label = "Usuario" labelPlacement="floating" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="password" placeholder="Contraseña" name="password" label = "Contraseña" labelPlacement="floating" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="boton-login">Iniciar sesión</ion-button>
    <ion-button expand="block" class="boton-registro-recover" (click)="goToRegistro()">Registrarse</ion-button>
    <ion-button expand="block" class="boton-registro-recover" (click)="goToRecuperarPass()">Recuperar contraseña</ion-button>
    
  </form>
  </div>
</ion-content>
