<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajustes"></ion-back-button> <!-- Esto redirige a la página home si no hay historial -->
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar">
  <form #registerForm="ngForm" (ngSubmit)="cambiarPass()" class="cambiarPass">
  <ion-item [class.invalid]="!password && formSubmitted">
    <ion-input type="password" [(ngModel)]="password" placeholder="Contraseña" name="password" required></ion-input>
  </ion-item>
  <ion-item [class.invalid]="!newPassword && formSubmitted">
    <ion-input type="password" [(ngModel)]="newPassword" placeholder="Contraseña nueva" name="newPassword" required></ion-input>
  </ion-item>
  <ion-item [class.invalid]="!confirmPassword && formSubmitted">
    <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="Confirmar contraseña" name="confirmPassword" required></ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" class="boton" [class.disabled]="formInvalid">
    Cambiar contraseña
  </ion-button>
  <ion-button expand="block" class="boton" (click)="cancelar()">
    Cancelar
  </ion-button>
</form>
</div>
</ion-content>
