<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><b>GesPe</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar">

    <div style="margin-bottom: 30px;">
      <h1><b>{{ mesAnioActual }}</b></h1>
      <h3><b>Total facturado este mes<br> {{ total | number: '1.2-2' }} €</b></h3>
    </div>
    <div>
      <h5>Últimos pedidos</h5>
      <ion-list style="margin-bottom: 20px;">
        <ion-item *ngFor="let pedido of pedidos" [button]="true" (click)="goToPedidoDetalle(pedido)">
          <ion-label>
            <p>Pedido #{{ pedido.id }}&nbsp;&nbsp; Cliente: {{ pedido.cliente.nombre }} {{ pedido.cliente.apellidos }}</p>
            <p>Total: {{ pedido.total | number: '1.2-2' }} €</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <h5>Últimos clientes</h5>
      <ion-list style="margin-bottom: 20px;">
        <ion-item *ngFor="let cliente of clientes" [button]="true" (click)="goToClienteDetalle(cliente)">
          <ion-label>
            <p>{{ cliente.nombre }} {{ cliente.apellidos }}</p>
            <p>Ciudad: {{ cliente.ciudad }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <h5>Últimos productos</h5>
      <ion-list>
        <ion-item *ngFor="let producto of productos" [button]="true" (click)="goToProductoDetalle(producto)">
          <ion-label>
            <p>{{ producto.nombre }}</p>
            <p>Descripción: {{ producto.descripcion }}</p>
            <p>Precio bruto: {{ producto.precioBruto | number: '1.2-2' }} €</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <br>
</ion-content>

<ion-footer>
  <app-tabs></app-tabs>
</ion-footer>