ion-select {
    max-width: 120px; /* Ajusta el ancho según necesites */
    min-width: 80px;
    width: auto;
    text-align: center;
  }

  .boton-opciones {
    --background: transparent;
    --border-radius: 15px;
    --box-shadow: none !important;
    --border: none !important;
    --color: white;
  }

  //Modo claro
  @media (prefers-color-scheme: light) {
    .icon-opciones {
      color: black;
    }
  }