<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><b>GesPe</b></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Boton crear pedido -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="margin-right: 7px; margin-bottom: 7px;">
    <ion-fab-button (click)="goToAddPedido()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Botones de fecha -->
  <ion-row>
    <ion-col size="6">
      <p>Desde</p>
      <ion-datetime-button datetime="fechaInicio"></ion-datetime-button>
    </ion-col>
  
    <ion-col size="6">
      <p>Hasta</p>
      <ion-datetime-button datetime="fechaFin"></ion-datetime-button>
    </ion-col>
  </ion-row>

  <!-- Modales fecha -->
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="fechaInicio" [(ngModel)]="fechaInicio" (ionChange)="loadPedidos()" presentation="month-year" [showDefaultButtons]="true"
        doneText="Confirmar" cancelText="Cancelar"></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="fechaFin" [(ngModel)]="fechaFin" [min]="getFechaInicioMasUnMes()" (ionChange)="loadPedidos()" presentation="month-year"
        [showDefaultButtons]="true" doneText="Confirmar" cancelText="Cancelar"></ion-datetime>
    </ng-template>
  </ion-modal>


  <!-- Boton desplegable ajustes -->
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true" style="top: -25px">
    <ion-fab-button class="boton-opciones">
      <ion-icon name="ellipsis-vertical" class="icon-opciones"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="settings-sharp" (click)="goToAjustes()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="log-out-outline" (click)="logOut()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- Lista de Pedidos -->
  <ion-list>
    <ion-item *ngFor="let pedido of pedidos" [button]="true" (click)="goToPedidoDetalle(pedido)">
      <ion-label>
        <h2>Pedido #{{ pedido.id }}</h2>
        <p>Cliente: {{ pedido.cliente.nombre }}</p>
        <p>Total: {{ pedido.total }} €</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Contenedor de botones de paginación (izquierda a derecha) -->
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 20px;">
    <!-- Botón de flecha izquierda -->
    <ion-button (click)="changePage('prev')" [disabled]="currentPage === 1">←</ion-button>

    <!-- Selector de página -->
    <ion-select [(ngModel)]="currentPage" (ionChange)="loadPedidos()" interface="popover">
      <ion-select-option *ngFor="let page of pageOptions" [value]="page">{{ page }}</ion-select-option>
    </ion-select>

    <!-- Botón de flecha derecha -->
    <ion-button (click)="changePage('next')" [disabled]="currentPage === totalPages">→</ion-button>
  </div>

</ion-content>

<!-- Tabs component -->
<ion-footer>
  <app-tabs></app-tabs>
</ion-footer>