<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar">
  <form #registerForm="ngForm" (ngSubmit)="cambiarPass()" class="cambiarPass">
  <ion-item [class.invalid]="!token && formSubmitted">
    <ion-input type="text" [(ngModel)]="token" placeholder="Token" name="token" label = "Token" labelPlacement="floating" required></ion-input>
  </ion-item>
  <ion-item [class.invalid]="!newPassword && formSubmitted">
    <ion-input type="password" [(ngModel)]="newPassword" placeholder="Contraseña nueva" name="newPassword" label = "Nueva contraseña" labelPlacement="floating" required></ion-input>
  </ion-item>
  <ion-item [class.invalid]="!confirmPassword && formSubmitted">
    <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="Confirmar contraseña" name="confirmPassword" label = "Confirmar contraseña" labelPlacement="floating" required></ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" class="boton-cambiar" [class.disabled]="formInvalid">
    Cambiar contraseña
  </ion-button>
</form>
</div>
</ion-content>
