<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> <!-- Esto redirige a la página home si no hay historial -->
    </ion-buttons>
    <ion-title>Crear pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Lista de productos seleccionados para el pedido -->
    <ion-item *ngIf="cliente">
      <ion-label>
        {{ cliente.nombre }}<br>
        NIF:  {{ cliente.nif }}<br>
        Correo : {{ cliente.email }}
      </ion-label>
      <!-- Botón para eliminar el producto -->
      <ion-button (click)="eliminarCliente()" color="danger">Eliminar</ion-button>
    </ion-item>
  

  <ion-button class="boton-añadir-cliente" expand="full" (click)="abrirBusquedaCliente()">{{ cliente ? 'Cambiar Cliente' : 'Añadir Cliente' }}</ion-button>


  <ion-list>
    <!-- Lista de productos seleccionados para el pedido -->
    <ion-item *ngFor="let producto of productosSeleccionados; let i = index">
      <ion-label>
        {{ producto.nombre }}<br>
        <ion-input label="Precio Neto:" [(ngModel)]="producto.precioNeto"  (ionBlur)="actualizarSubtotal(i)" (ionFocus)="guardarValorAnterior(i)" type="number" min="1" pattern="^[0-9]*[.,]?[0-9]*$" style="max-width: 200px;"></ion-input>
        <ion-input label="Cantidad:" [(ngModel)]="producto.cantidad"  (ionBlur)="actualizarSubtotal(i)" (ionFocus)="guardarValorAnterior(i)" type="number" min="1" pattern="^[0-9]*[.,]?[0-9]*$" style="max-width: 200px;"></ion-input>
        IVA: {{ producto.iva }}%<br>  
        Subtotal: {{ producto.subtotal }} €
      </ion-label>
      <!-- Campo para cambiar cantidad -->
      
      <!-- Botón para eliminar el producto -->
      <ion-button (click)="eliminarProducto(i)" color="danger">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-button class="boton-añadir-producto" expand="full" (click)="abrirBusquedaProducto()">Añadir Producto</ion-button>

  <!-- Total del pedido -->
  <ion-item>
    <ion-label>Total:</ion-label>
    <ion-text>{{ calcularTotal() }} €</ion-text>
  </ion-item>

  
</ion-content>
<ion-footer>
<ion-button class="boton-crear" *ngIf="cliente && productosSeleccionados.length > 0" expand="full" (click)="crearPedido()" color="success">Crear Pedido</ion-button>
</ion-footer>