<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pedidos"></ion-back-button>
      <!-- Esto redirige a la página home si no hay historial -->
    </ion-buttons>
    <ion-title>Pedido #{{ pedidoId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrar">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{cliente.nombre}} {{cliente.apellidos}}</ion-card-title>
        <ion-card-subtitle><b>NIF/DNI: {{cliente.nif}}<br>Fecha emisión: {{pedidoFecha | date:
            'dd-MM-yyyy'}}</b></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Email: {{cliente.email}}<br>
        Telefono: {{cliente.telefono}}<br>
        Direccion: {{cliente.direccion}}<br>
        Ciudad: {{cliente.ciudad}}<br>
        Pais: {{cliente.pais}}<br><br>
        Usuario creador del pedido: {{ usuarioCreador }}<br><br>
        <b>Total pedido: {{ pedidoTotal | number: '1.2-2' }} €</b><br>
      </ion-card-content>
    </ion-card>

    <ion-accordion-group>
      <ion-accordion *ngFor="let detalle of detalles">
        <ion-item slot="header">
          <ion-label>
            {{ detalle.nombreProducto }} - {{ detalle.subtotal | number: '1.2-2' }} €
          </ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <p><strong>Descripción:</strong> {{ detalle.descripcion }}</p>
          <p><strong>IVA:</strong> {{ detalle.iva }}%</p>
          <p><strong>Cantidad:</strong> {{ detalle.cantidad }}</p>
          <p><strong>Precio unitario neto:</strong> {{ detalle.precio | number: '1.2-2' }} €</p>
          <p><strong>Precio unitario bruto:</strong> {{ detalle.precio + (detalle.precio * detalle.iva / 100) | number:
            '1.2-2' }} €</p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>

<ion-footer class="centrar">
  <ion-button id="generar" expand="block" color="primary">
    Descargar Factura PDF
  </ion-button><br>
  <ion-alert trigger="generar" type="submit" class="custom-alert" header="Vas a descargar el PDF. ¿Estás seguro?"
    [buttons]="alertButtonsGenerar"></ion-alert>
  <ion-button id="enviar" expand="block" color="primary">
    Enviar Factura PDF al cliente
  </ion-button><br>
  <ion-alert trigger="enviar" type="submit" class="custom-alert" header="Vas a enviar el PDF. ¿Estás seguro?"
    [buttons]="alertButtonsEnviar"></ion-alert>

</ion-footer>