<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><b>Clientes</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="margin-right: 7px; margin-bottom: 7px;">
    <ion-fab-button (click)="goToAddCliente()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  

  <!-- Segmento para cambiar entre vista por defecto y vista de segmento -->
  <ion-segment *ngIf="comprobarRol()" value="activos">
    <ion-segment-button value="activos" (click)="loadClientes(1)">
      <ion-label>Activos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="inactivos" (click)="loadClientes(2)">
      <ion-label>Inactivos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="todos" (click)="loadClientes(3)">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Searchbar -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="loadClientes()" [debounce]="1000" placeholder="Buscar por nombre, NIF, ciudad..."></ion-searchbar>

  <!-- Lista de Clientes -->
  <ion-list>
    <ion-item *ngFor="let cliente of clientes" [button]="true" (click)="goToClienteDetalle(cliente)">
      <ion-label>
        <h2>{{ cliente.nombre }} {{ cliente.apellidos }}</h2>
        <p>Email: {{ cliente.email }}</p>
        <p>Teléfono: 
          {{
            (cliente.telefono + '').slice(0, 3) + '-' +
            (cliente.telefono + '').slice(3, 5) + '-' +
            (cliente.telefono + '').slice(5, 7) + '-' +
            (cliente.telefono + '').slice(7, 9)
          }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Contenedor de botones de paginación (izquierda a derecha) -->
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px; margin-bottom: 20px;">
    <!-- Botón de flecha izquierda -->
    <ion-button (click)="changePage('prev')" [disabled]="currentPage === 1">←</ion-button>

    <!-- Selector de página -->
    <ion-select [(ngModel)]="currentPage" (ionChange)="loadClientes()" interface="popover">
      <ion-select-option *ngFor="let page of pageOptions" [value]="page">{{ page }}</ion-select-option>
    </ion-select>

    <!-- Botón de flecha derecha -->
    <ion-button (click)="changePage('next')" [disabled]="currentPage === totalPages">→</ion-button>
  </div>
</ion-content>

<ion-footer>
  <app-tabs></app-tabs>
</ion-footer>
